<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="AnteUp" lan="LAN_ANTEUP_NAME" version="1.1.0" date="2017-01-10" compatibility="2.0" installRequired="true" >
	<author name="Patrick Weaver" url="http://www.trickmod.com" />
	<summary lan="LAN_ANTEUP_SUMM">An extensive Donation Tracker with PayPal integration</summary>
	<description lan="LAN_ANTEUP_DESC">Keep track of all your incoming donations with an extensive list of donations, who gave them to you, and how much they provided. Also contains a menu for displaying the amount of donations you'd like to receive for a given time and your progress towards it.</description>
	<keywords>
		<word>donation</word>
		<word>tracker</word>
		<word>paypal</word>
	</keywords>
	<category>misc</category>
	<copyright>2017</copyright>
	<adminLinks>
		<link url="admin_config.php" description="" icon="images/icon_32.png" iconSmall="images/icon_16.png" icon128="images/icon_128.png" primary="true" >LAN_SETTINGS</link>
	</adminLinks>
	<siteLinks>
		<link url="e107_plugins/anteup/donations.php" description="Donations" icon="" iconSmall="" function="">LAN_ANTEUP_DONATIONSLINK</link>
	</siteLinks>
	<pluginPrefs>
		<pref name='anteup_mtitle'>Donations</pref>
		<pref name='anteup_currency'>20</pref>
		<pref name='anteup_goal'>0</pref>
		<pref name='anteup_due'>1464782400</pref>
		<pref name='anteup_lastdue'>1462104000</pref>
		<pref name='anteup_menutext'>Thanks for all your donations, we greatly appreciate it!</pref>
		<pref name='anteup_pagetext'>Thanks for considering to send us a donation. We appreciate your contribution and will use it to better your experience on the site</pref>
		<pref name='anteup_dateformat'>short</pref>
		<pref name='anteup_paypal'>yourpaypal@email.com</pref>
		<pref name='anteup_button'>donate.gif</pref>
		<pref name='anteup_pageviewclass'></pref>
		<pref name='anteup_menuviewclass'></pref>
		<pref name='anteup_sandbox'>0</pref>
		<pref name="anteup_logging">0</pref>
	</pluginPrefs>
</e107Plugin>
