<?xml version="1.0" encoding="utf-8"?>
<e107Plugin name="Ante Up" lan="LAN_ANTEUP_NAME" version="1.0" date="2015-10-23" compatibility="2.0" installRequired="true" >
	<author name="Patrick Weaver" url="http://trickmod.com" />
	<summary lan="LAN_ANTEUP_SUMM">An extensive Donation Tracker with PayPal integration</summary>
	<description lan="LAN_ANTEUP_DESC">Keep track of all your incoming donations with an extensive list of donations, who gave them to you, and how much they provided. Also contains a menu for displaying the amount of donations you'd like to receive for a given time and your progress towards it.</description>
	<keywords>
		<word>donation</word>
		<word>tracker</word>
		<word>paypal</word>
	</keywords>
	<category>tools</category>
	<copyright>2015</copyright>
	<adminLinks>
		<link url="admin_config.php" description="" icon="images/icon.png" iconSmall="images/icon.png" primary="true" >LAN_SETTINGS</link>
	</adminLinks>
	<pluginPrefs>
		<pref name='anteup_mtitle'>LAN_ANTEUP_MENU_TITLE</pref>
		<pref name='anteup_currency'>20</pref>
		<pref name='anteup_goal'>0</pref>
		<pref name='anteup_due'>Thursday, 31 December, 2015</pref>
		<pref name='anteup_lastdue'>Thursday, 1 January, 2015</pref>
		<pref name='anteup_menutext'>LAN_ANTEUP_DEFAULT_DESC</pref>
		<pref name='anteup_pagetext'>LAN_ANTEUP_DEFAULT_DONATE_BLURB</pref>
		<pref name='anteup_dateformat'>short</pref>
		<pref name='anteup_paypal'>yourpaypal@email.com</pref>
		<pref name='anteup_button'>donate.gif</pref>
		<pref name='anteup_pageviewclass'></pref>
		<pref name='anteup_menuviewclass'></pref>
	</pluginPrefs>
</e107Plugin>
